**/.DS_Store
node_modules
dist
packages/gui/release

README-Release.md
README-npm-publish.md

TODO-cli.md
DEBUG-LOG-CLI.md

TODO-GUI.md
DEBUG-LOG-GUI.md

TODO-Passwörter.md
DEBUG-LOG-Passwörter.md

RECHERCHE-Publizieren.md
TODO-Publizieren.md
DEBUG-LOG-Publizieren.md

